.tooltips {
  color: gray;
  display: none;
  position: absolute;
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 10px;
  list-style-type: disc;
  width: 140px;
  box-shadow: 0px 0px 22px 8px rgba(0,0,0,0.2);
}